<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Show specific map</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
  </head>

  <body>
    <%- include('partials/_header') %>
    <h1>Show Specific Map</h1>
    <p><%= map.id %></p>
    <p><%= map.title %></p>
    <img src="<%= map.image %>">
    <p><%= map.latitude %></p>
    <p><%= map.longitude %></p>

    <div id="map"></div>
    <script>
      const latitude = <%= map.latitude %>;
      const longtitude = <%= map.longitude %>;
      const zoom = <%= map.zoom %>;

      function initMap() {
        // Map options
        const options = {
          zoom: 13,
          center: {lat: latitude, lng: longtitude}
        }
        // New map
        const map = new google.maps.Map(document.getElementById('map'), options);

        // Add marker
        function addMarker(props) {
          const marker = new google.maps.Marker({
          position: props.coords,
          map:map
          });
          marker.addListener('click', function() {
            infoWindow.open(map, marker);
          });
        }

        const pinsArr = <%- JSON.stringify(pins) %>;
        console.log('pins arr in ejs =', pinsArr);

        for ( let pin of pinsArr ) {
          addMarker({coords: {lat: pin.lat, lng: pin.lng}});
        }

        const infoWindow = new google.maps.InfoWindow({
          content: '<h1>Title</h1>'
        })

      }
    </script>
  </body>
  <script async

    src='https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap'>

  </script>
</html>
